In [25]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import math
from scipy.stats import ttest_ind

population mean
μ = 120 mm Hg; 
sample size = 100;

mean of the sample = 131.1
std deviation = 21.21 mm Hg

H0 : mean blood pressure = 120 mmHg
H1 : mean blood pressure =! 120 mmHg

After defining the Null and the alternative hypothesis, we calculate the z-score using the following formula:

z = (x̄ - μ) / (s / √n)

In [6]:
(130.1 - 120)/(21.21/math.sqrt(100))

4.761904761904759

We now compare the calculated z value with the critical value from the table, with df=99 depending on the significance level = 0.05, 0.025, 0.01, 0.005, 0.001, table values being (1.290 1.660 1.984 2.365 2.626 3.175)

We can therefore reject the Null hypothesis and conclude that the average blood pressure in our sample group differs significantly from the average of the population.

New Machine	  Old Machine
42.1	        42.7
41	          43.6
41.3	        43.8
41.8	        43.3
42.4	        42.5
42.8	        43.5
43.2	        43.1
42.3	        41.7
41.8	        44
42.7	        44.1

In [8]:
New_Machine = [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

Old_Machine = [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]

In [26]:
t_statistic, p_value = ttest_ind(New_Machine, Old_Machine)

In [27]:
t_statistic

-3.3972307061176026

In [28]:
p_value

0.0032111425007745158

In [20]:
df= pd.DataFrame({'New_machine': New_Machine, 'Old_machine': Old_Machine})
df.head(10)

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [30]:
df['New_machine'].describe()

count    10.000000
mean     42.140000
std       0.683455
min      41.000000
25%      41.800000
50%      42.200000
75%      42.625000
max      43.200000
Name: New_machine, dtype: float64

In [29]:
df['Old_machine'].mean()
df['Old_machine'].describe()

count    10.000000
mean     43.230000
std       0.749889
min      41.700000
25%      42.800000
50%      43.400000
75%      43.750000
max      44.100000
Name: Old_machine, dtype: float64

H0: The Old machine is faster on average 
H1: The new machine is faster on average

To compare the means of each sample, we conduct a two sample t-test.

In [32]:
(43.23 - 42.14)/math.sqrt((0.1 * 0.749889*0.749889) + (0.1 * 0.683455 * 0.683455 ))

3.397231028036128

On the basis of the t-statistic and using a significance level of .05, we can reject the H0 and therefore accept the H1.
The new machine is faster than the old one.