# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
### your code is here
cars.groupby('Model').count()

,Make,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Model,,,,,,,,,,,,,,
1-Ton Truck 2WD,16,16,16,16,16,16,16,16,16,16,16,16,16,16
100,12,12,12,12,12,12,12,12,12,12,12,12,12,12
100 Wagon,3,3,3,3,3,3,3,3,3,3,3,3,3,3
100 quattro,9,9,9,9,9,9,9,9,9,9,9,9,9,9
100 quattro Wagon,3,3,3,3,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
iQ,5,5,5,5,5,5,5,5,5,5,5,5,5,5
tC,24,24,24,24,24,24,24,24,24,24,24,24,24,24
xA,6,6,6,6,6,6,6,6,6,6,6,6,6,6
xB,22,22,22,22,22,22,22,22,22,22,22,22,22,22
xD,14,14,14,14,14,14,14,14,14,14,14,14,14,14

group by the data by the Make  using count function

In [5]:
### your code us here
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [6]:
### your code us here
cars['Make'].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [7]:
### your code us here
cars['CO2 Emission Grams/Mile'] = cars['CO2 Emission Grams/Mile'] / (1.60934)
cars.rename(columns={"CO2 Emission Grams/Mile": "CO2_Grams_Km"}, inplace=True)
cars.groupby("Make")[["CO2_Grams_Km"]].mean()

                             CO2_Grams_Km
Make
AM General                     379.881345
ASC Incorporated               345.133719
Acura                          262.583000
Alfa Romeo                     288.287195
American Motors Corporation    314.264744
...                                   ...
Volkswagen                     244.038998
Volvo                          270.796572
Wallace Environmental          408.857065
Yugo                           221.251107
smart                          153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [8]:
### your code us here
cars.groupby("Make")[["CO2_Grams_Km"]].mean().sort_values('CO2_Grams_Km')

                                    CO2_Grams_Km
Make
Fisker                                105.011992
smart                                 153.498052
Fiat                                  189.311494
Daihatsu                              192.742404
MINI                                  194.935105
...                                          ...
Laforza Automobile Inc                502.012683
Bugatti                               542.497235
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Vector                                651.919248

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [9]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [10]:
## your code here
cars['decades'] = pd.qcut(cars['Year'], 4)
cars['decades']

0        (1983.999, 1991.0]
1        (1983.999, 1991.0]
2        (1983.999, 1991.0]
3        (1983.999, 1991.0]
4        (1983.999, 1991.0]
                ...
35947      (2010.0, 2017.0]
35948      (2010.0, 2017.0]
35949      (2010.0, 2017.0]
35950      (2010.0, 2017.0]
35951      (2010.0, 2017.0]
Name: decades, Length: 35952, dtype: category
Categories (4, interval[float64, right]): [(1983.999, 1991.0] < (1991.0, 2001.0] < (2001.0, 2010.0] < (2010.0, 2017.0]]

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [11]:
cars['City MPG'] = cars['City MPG']*(1.6098/3.87541)
cars.rename(columns={"City MPG": "City_km_l"}, inplace=True)

In [12]:
### your code is here
cars.groupby('decades')['City_km_l'].mean()

decades
(1983.999, 1991.0]    7.158011
(1991.0, 2001.0]      7.044891
(2001.0, 2010.0]      7.043050
(2010.0, 2017.0]      8.201827
Name: City_km_l, dtype: float64

Which brands are more environment friendly?

In [36]:

cars.groupby('Make')['CO2_Grams_Km'].mean().sort_values()

Make
Fisker                                105.011992
smart                                 153.498052
Fiat                                  189.311494
Daihatsu                              192.742404
MINI                                  194.935105
                                         ...
Laforza Automobile Inc                502.012683
Bugatti                               542.497235
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Vector                                651.919248
Name: CO2_Grams_Km, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [14]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 35952 non-null  object
 1   Model                35952 non-null  object
 2   Year                 35952 non-null  int64
 3   Engine Displacement  35952 non-null  float64
 4   Cylinders            35952 non-null  float64
 5   Transmission         35952 non-null  object
 6   Drivetrain           35952 non-null  object
 7   Vehicle Class        35952 non-null  object
 8   Fuel Type            35952 non-null  object
 9   Fuel Barrels/Year    35952 non-null  float64
 10  City_km_l            35952 non-null  float64
 11  Highway MPG          35952 non-null  int64
 12  Combined MPG         35952 non-null  int64
 13  CO2_Grams_Km         35952 non-null  float64
 14  Fuel Cost/Year       35952 non-null  int64
 15  decades              35952 non-null  category
dtypes: category(1), float64(5), int64(4), object(6)
memory usage: 4.1+ MB

In [15]:
## Your Code here
cars.groupby('Drivetrain')['Fuel Barrels/Year'].mean()

Drivetrain
2-Wheel Drive                 21.069467
2-Wheel Drive, Front          11.771786
4-Wheel Drive                 17.942952
4-Wheel or All-Wheel Drive    20.484720
All-Wheel Drive               16.349672
Front-Wheel Drive             14.266654
Part-time 4-Wheel Drive       20.628218
Rear-Wheel Drive              19.587486
Name: Fuel Barrels/Year, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [22]:
cars['Transmission'] = np.where(cars['Transmission'].str.contains('Auto'), 'Automatic', cars['Transmission'])
cars['Transmission'] = np.where(cars['Transmission'].str.contains('Man'), 'Manual', cars['Transmission'])

In [23]:
## Your Code here
cars.groupby('Transmission')['Fuel Barrels/Year'].mean()

Transmission
Automatic    18.043152
Manual       16.704904
Name: Fuel Barrels/Year, dtype: float64

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [24]:
## your code is here
cars.groupby('Make').agg({"City_km_l":"mean","Transmission":"count"})

                             City_km_l  Transmission
Make
AM General                    6.230825             4
ASC Incorporated              5.815436             1
Acura                         7.846988           302
Alfa Romeo                    7.102127            41
American Motors Corporation   6.665094            22
...                                ...           ...
Volkswagen                    8.817182          1047
Volvo                         7.469458           717
Wallace Environmental         5.166392            32
Yugo                          9.553931             8
smart                        13.832431            20

[127 rows x 2 columns]

aggregate with average City_Km/Liter and the minimum of the Trans

In [29]:
cars.groupby(['decades', 'Make']).agg({"City_km_l":"mean","Transmission":"count"})

                                                City_km_l  Transmission
decades            Make
(1983.999, 1991.0] AM General                    6.230825             4
                   ASC Incorporated              5.815436             1
                   Acura                         7.862707            28
                   Alfa Romeo                    7.133843            23
                   American Motors Corporation   6.665094            22
...                                                   ...           ...
(2010.0, 2017.0]   Volkswagen                    9.931413           263
                   Volvo                         8.276057           131
                   Wallace Environmental              NaN             0
                   Yugo                               NaN             0
                   smart                        13.885838            14

[508 rows x 2 columns]

In [25]:
### your code is here
cars.groupby('Make').agg({"City_km_l":"mean","Transmission":"min"})

                             City_km_l Transmission
Make
AM General                    6.230825    Automatic
ASC Incorporated              5.815436    Automatic
Acura                         7.846988    Automatic
Alfa Romeo                    7.102127    Automatic
American Motors Corporation   6.665094    Automatic
...                                ...          ...
Volkswagen                    8.817182    Automatic
Volvo                         7.469458    Automatic
Wallace Environmental         5.166392    Automatic
Yugo                          9.553931       Manual
smart                        13.832431    Automatic

[127 rows x 2 columns]