In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100


def lower_case_column_names(df):
    df.columns=[i.lower() for i in df.columns]
    return df

def clean_state_column(dataframe):
    dataframe.rename(columns={'st':'state'}, inplace=True)
    return dataframe

In [2]:
!pwd

/Users/henrik/Desktop/GitHub/IH_DA_FT_JAN_2023_Henriks_Version/Class_Materials/Case_Studies/Customer_Analysis_Case_Study/Data

In [3]:
file1 = pd.read_csv('file1.csv')
file1 = lower_case_column_names(file1)
file1 = file1 = file1.sort_index(axis=1)
clean_state_column(file1)

,customer,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
file2 = pd.read_csv('file2.csv')
file2 = lower_case_column_names(file2)
file2 = file2 = file2.sort_index(axis=1)
clean_state_column(file2)

,customer,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,GS98873,323912.47%,Bachelor,F,16061,88,1/0/00,Personal Auto,Arizona,633.600000,Four-Door Car
1,CW49887,462680.11%,Master,F,79487,114,1/0/00,Special Auto,California,547.200000,SUV
2,MY31220,899704.02%,College,F,54230,112,1/0/00,Personal Auto,California,537.600000,Two-Door Car
3,UH35128,2580706.30%,College,F,71210,214,1/1/00,Personal Auto,Oregon,1027.200000,Luxury Car
4,WH52799,380812.21%,College,F,94903,94,1/0/00,Corporate Auto,Arizona,451.200000,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,847141.75%,Master,M,63513,70,1/0/00,Personal Auto,Arizona,185.667213,Four-Door Car
992,BS91566,543121.91%,College,F,58161,68,1/0/00,Corporate Auto,Arizona,140.747286,Four-Door Car
993,IL40123,568964.41%,College,F,83640,70,1/0/00,Corporate Auto,Nevada,471.050488,Two-Door Car
994,MY32149,368672.38%,Master,F,0,96,1/0/00,Personal Auto,California,28.460568,Two-Door Car
995,SA91515,399258.39%,Bachelor,M,0,111,1/0/00,Personal Auto,California,700.349052,SUV

In [5]:
file3 = pd.read_csv('file3.csv')
file3 = lower_case_column_names(file3)
file3 = file3 = file3.sort_index(axis=1)
clean_state_column(file3)

,customer,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,SA25987,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.200000,Two-Door Car
1,TB86706,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.468912,Two-Door Car
2,ZL73902,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.600000,Four-Door Car
3,KX23516,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.615192,SUV
4,FN77294,7704.958480,High School or Below,M,30366,101,2,Personal Auto,California,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,23405.987980,Bachelor,M,71941,73,0,Personal Auto,California,198.234764,Four-Door Car
7066,PK87824,3096.511217,College,F,21604,79,0,Corporate Auto,California,379.200000,Four-Door Car
7067,TD14365,8163.890428,Bachelor,M,0,85,3,Corporate Auto,California,790.784983,Four-Door Car
7068,UP19263,7524.442436,College,M,21941,96,0,Personal Auto,California,691.200000,Four-Door Car
7069,Y167826,2611.836866,College,M,0,77,0,Corporate Auto,California,369.600000,Two-Door Car

In [6]:
file1.columns == file2.columns
file2.columns == file3.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [7]:
df = pd.concat([file1,file2,file3], axis=0)
df

,customer,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,23405.98798,Bachelor,M,71941.0,73.0,0,Personal Auto,California,198.234764,Four-Door Car
7066,PK87824,3096.511217,College,F,21604.0,79.0,0,Corporate Auto,California,379.200000,Four-Door Car
7067,TD14365,8163.890428,Bachelor,M,0.0,85.0,3,Corporate Auto,California,790.784983,Four-Door Car
7068,UP19263,7524.442436,College,M,21941.0,96.0,0,Personal Auto,California,691.200000,Four-Door Car
7069,Y167826,2611.836866,College,M,0.0,77.0,0,Corporate Auto,California,369.600000,Two-Door Car

In [8]:
df = df.drop_duplicates()
df = df.drop("customer", axis=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    9127 non-null   object
 1   education                  9134 non-null   object
 2   gender                     9012 non-null   object
 3   income                     9134 non-null   float64
 4   monthly premium auto       9134 non-null   float64
 5   number of open complaints  9134 non-null   object
 6   policy type                9134 non-null   object
 7   state                      9134 non-null   object
 8   total claim amount         9134 non-null   float64
 9   vehicle class              9134 non-null   object
dtypes: float64(3), object(7)
memory usage: 785.0+ KB

In [10]:

df['customer lifetime value'] = df['customer lifetime value'].astype(str).str.strip('%')
df['customer lifetime value'] =  pd.to_numeric(df['customer lifetime value'], errors='coerce')

df.info()

SyntaxError: invalid syntax (119843451.py, line 3)

In [ ]:

df['customer lifetime value'] = df['customer lifetime value']/100

In [ ]:
df["state"].unique()
#df.info()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [ ]:
def clean_state(x):
    if x in ['AZ', 'Arizona']:
        return 'Arizona'
    elif x in ['Cali', 'California']:
        return 'California'
    elif x in ['Washington', 'WA']:
        return 'Washington'
    elif x in ['Nevada']:
        return 'Nevada'
    elif x in ['Oregon']:
        return 'Oregon'

In [ ]:
df['state'] = list(map(clean_state, df['state'])) 
#df['state'].unique()

In [ ]:
df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', None],
      dtype=object)

In [ ]:
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [ ]:
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'M'
    elif x in ['F', 'Femal', 'female']:
        return 'F'
    else:
        return 'NaN'

In [ ]:
df['gender'] = list(map(clean_gender, df['gender'])) 
df['gender'].unique()

array(['NaN', 'F', 'M'], dtype=object)

In [ ]:
df['number of open complaints']

0       1/0/00
1       1/0/00
2       1/0/00
3       1/0/00
4       1/0/00
         ...
7065         0
7066         0
7067         3
7068         0
7069         0
Name: number of open complaints, Length: 9135, dtype: object

In [ ]:
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'M'
    elif x in ['F', 'Femal', 'female']:
        return 'F'
    else:
        return 'NaN'

In [ ]:
df['gender'] = list(map(clean_gender, df['gender'])) 
df['gender'].value_counts()

F      4604
M      4408
NaN     123
Name: gender, dtype: int64

In [ ]:
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/0/(.*)','0', regex=True)

df['number of open complaints'].unique()

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    9127 non-null   float64
 1   education                  9134 non-null   object
 2   gender                     9135 non-null   object
 3   income                     9134 non-null   float64
 4   monthly premium auto       9134 non-null   float64
 5   number of open complaints  9135 non-null   object
 6   policy type                9134 non-null   object
 7   state                      9134 non-null   object
 8   total claim amount         9134 non-null   float64
 9   vehicle class              9134 non-null   object
dtypes: float64(4), object(6)
memory usage: 785.0+ KB

In [ ]:
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/1/(.*)','1', regex=True)

In [ ]:
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/2/(.*)','2', regex=True)

In [ ]:
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/3/(.*)','3', regex=True)

In [ ]:
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/4/(.*)','4', regex=True)

In [ ]:
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/5/(.*)','5', regex=True)

In [ ]:
df['number of open complaints'] =  pd.to_numeric(df['number of open complaints'], errors='coerce')

In [ ]:
df.info()
#df.reset_index()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    9127 non-null   float64
 1   education                  9134 non-null   object
 2   gender                     9135 non-null   object
 3   income                     9134 non-null   float64
 4   monthly premium auto       9134 non-null   float64
 5   number of open complaints  9134 non-null   float64
 6   policy type                9134 non-null   object
 7   state                      9134 non-null   object
 8   total claim amount         9134 non-null   float64
 9   vehicle class              9134 non-null   object
dtypes: float64(5), object(5)
memory usage: 785.0+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    9127 non-null   float64
 1   education                  9134 non-null   object
 2   gender                     9135 non-null   object
 3   income                     9134 non-null   float64
 4   monthly premium auto       9134 non-null   float64
 5   number of open complaints  9134 non-null   float64
 6   policy type                9134 non-null   object
 7   state                      9134 non-null   object
 8   total claim amount         9134 non-null   float64
 9   vehicle class              9134 non-null   object
dtypes: float64(5), object(5)
memory usage: 785.0+ KB

In [ ]:
df['number of open complaints'].value_counts()

0.0    7252
1.0    1012
2.0     376
3.0     290
4.0     148
5.0      56
Name: number of open complaints, dtype: int64

In [ ]:
df['income'] = df['income'].replace(0, np.nan)
df

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,NaN,Master,NaN,NaN,1000.0,0.0,Personal Auto,Washington,2.704934,Four-Door Car
1,6979.535900,Bachelor,F,NaN,94.0,0.0,Personal Auto,Arizona,1131.464935,Four-Door Car
2,12887.431700,Bachelor,F,48767.0,108.0,0.0,Personal Auto,Nevada,566.472247,Two-Door Car
3,7645.861800,Bachelor,M,NaN,106.0,0.0,Corporate Auto,California,529.881344,SUV
4,5363.076500,High School or Below,M,36357.0,68.0,0.0,Personal Auto,Washington,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...
7065,234.059880,Bachelor,M,71941.0,73.0,0.0,Personal Auto,California,198.234764,Four-Door Car
7066,30.965112,College,F,21604.0,79.0,0.0,Corporate Auto,California,379.200000,Four-Door Car
7067,81.638904,Bachelor,M,NaN,85.0,3.0,Corporate Auto,California,790.784983,Four-Door Car
7068,75.244424,College,M,21941.0,96.0,0.0,Personal Auto,California,691.200000,Four-Door Car
7069,26.118369,College,M,NaN,77.0,0.0,Corporate Auto,California,369.600000,Two-Door Car

In [ ]:
df['total claim amount'] = pd.to_numeric(df['total claim amount'], errors='coerce')
mean_tca = df['total claim amount'].mean()
mean_tca
df['income'] = pd.to_numeric(df['income'], errors='coerce')
#mean_i = df['income'].mean()
#mean_i

In [ ]:
#replacing the missing values of total claim amount with the mean of tca


df['total claim amount'] = df['total claim amount'].fillna(mean_tca)
df['total claim amount'].value_counts()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    9127 non-null   float64
 1   education                  9134 non-null   object
 2   gender                     9135 non-null   object
 3   income                     6840 non-null   float64
 4   monthly premium auto       9134 non-null   float64
 5   number of open complaints  9134 non-null   float64
 6   policy type                9134 non-null   object
 7   state                      9134 non-null   object
 8   total claim amount         9135 non-null   float64
 9   vehicle class              9134 non-null   object
dtypes: float64(5), object(5)
memory usage: 785.0+ KB

In [ ]:
#replacing the missing values of income with the mean of income


df['income'] = df['income'].fillna(df['income'].mean())
df['income'].value_counts()

50510.548684    2295
95697.000000      13
10621.000000       8
61108.000000       8
26876.000000       8
                ...
75774.000000       1
85412.000000       1
42968.000000       1
16711.000000       1
21941.000000       1
Name: income, Length: 5655, dtype: int64

In [ ]:
#replacing the missing values of monthly premium auto with the mean of monthly premium auto

df['monthly premium auto'] = df['monthly premium auto'].fillna(df['monthly premium auto'].mean())
df['monthly premium auto']

0       1000.0
1         94.0
2        108.0
3        106.0
4         68.0
         ...
7065      73.0
7066      79.0
7067      85.0
7068      96.0
7069      77.0
Name: monthly premium auto, Length: 9135, dtype: float64

In [ ]:
#replacing the missing values of customer lifetime value
df['customer lifetime value'] = df['customer lifetime value'].fillna(df['customer lifetime value'].mean())
df['customer lifetime value']

0        1820.715176
1        6979.535900
2       12887.431700
3        7645.861800
4        5363.076500
            ...
7065      234.059880
7066       30.965112
7067       81.638904
7068       75.244424
7069       26.118369
Name: customer lifetime value, Length: 9135, dtype: float64

In [ ]:
df['number of open complaints']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
7065    0.0
7066    0.0
7067    3.0
7068    0.0
7069    0.0
Name: number of open complaints, Length: 9135, dtype: float64

In [ ]:
#different approaches to solve the state as region task
df = df.rename(columns={'state': 'region'})

In [ ]:
def state_region(x):
    if x in ['California']:
        return 'West'
    elif x in ['Oregon']:
        return 'Northwest'
    elif x in ['Washington']:
        return 'East'
    elif x in ['Arizona', 'Nevada']:
        return 'Central'

#state_dict = {}

In [ ]:
df['region'] = list(map(state_region, df['region']))
df.head()

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,region,total claim amount,vehicle class
0,1820.715176,Master,NaN,50510.548684,1000.0,0.0,Personal Auto,East,2.704934,Four-Door Car
1,6979.535900,Bachelor,F,50510.548684,94.0,0.0,Personal Auto,Central,1131.464935,Four-Door Car
2,12887.431700,Bachelor,F,48767.000000,108.0,0.0,Personal Auto,Central,566.472247,Two-Door Car
3,7645.861800,Bachelor,M,50510.548684,106.0,0.0,Corporate Auto,West,529.881344,SUV
4,5363.076500,High School or Below,M,36357.000000,68.0,0.0,Personal Auto,East,17.269323,Four-Door Car

In [ ]:
df['vehicle class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [ ]:
#merge the ctaegories
merge_dict = {'Luxury SUV': 'Luxury Vehicle', 'Luxury Car': 'Luxury Vehicle'}
df['vehicle class'] = df['vehicle class'].replace(merge_dict)

In [ ]:
#df['vehicle class'].unique()
df.head(100)

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,region,total claim amount,vehicle class
0,1820.715176,Master,NaN,50510.548684,1000.0,0.0,Personal Auto,East,2.704934,Four-Door Car
1,6979.535900,Bachelor,F,50510.548684,94.0,0.0,Personal Auto,Central,1131.464935,Four-Door Car
2,12887.431700,Bachelor,F,48767.000000,108.0,0.0,Personal Auto,Central,566.472247,Two-Door Car
3,7645.861800,Bachelor,M,50510.548684,106.0,0.0,Corporate Auto,West,529.881344,SUV
4,5363.076500,High School or Below,M,36357.000000,68.0,0.0,Personal Auto,East,17.269323,Four-Door Car
5,8256.297800,Bachelor,F,62902.000000,69.0,0.0,Personal Auto,Northwest,159.383042,Two-Door Car
6,5380.898600,College,F,55350.000000,67.0,0.0,Corporate Auto,Northwest,321.600000,Four-Door Car
7,7216.100300,Master,M,50510.548684,101.0,0.0,Corporate Auto,Central,363.029680,Four-Door Car
8,24127.504000,Bachelor,M,14072.000000,71.0,0.0,Corporate Auto,Northwest,511.200000,Four-Door Car
9,7388.178100,College,F,28812.000000,93.0,0.0,Special Auto,Northwest,425.527834,Four-Door Car
10,4738.992000,College,M,50510.548684,67.0,0.0,Personal Auto,West,482.400000,Four-Door Car
11,8197.197100,College,NaN,50510.548684,110.0,0.0,Personal Auto,West,528.000000,SUV
12,8798.797000,Master,NaN,77026.000000,110.0,2.0,Corporate Auto,West,472.029737,Four-Door Car
13,8819.018900,High School or Below,NaN,99845.000000,110.0,1.0,Corporate Auto,Central,528.000000,SUV
14,5384.431700,College,NaN,83689.000000,70.0,2.0,Corporate Auto,West,307.139132,Four-Door Car
15,7463.139400,Bachelor,NaN,24599.000000,64.0,1.0,Corporate Auto,Northwest,42.920271,Four-Door Car
16,2566.867800,High School or Below,NaN,25049.000000,67.0,0.0,Personal Auto,Central,454.245098,Two-Door Car
17,3945.241600,College,NaN,28855.000000,101.0,0.0,Personal Auto,West,647.442031,SUV
18,5710.333100,College,NaN,51148.000000,72.0,0.0,Personal Auto,Northwest,308.981664,Four-Door Car
19,8162.617100,High School or Below,NaN,66140.000000,101.0,0.0,Corporate Auto,West,484.800000,Four-Door Car
20,2872.051300,High School or Below,NaN,57749.000000,74.0,0.0,Personal Auto,Northwest,355.200000,Two-Door Car
21,6177.109300,Bachelors,M,61040.000000,79.0,1.0,Personal Auto,East,20.382876,Two-Door Car
22,24127.504000,Bachelor,NaN,14072.000000,71.0,0.0,Personal Auto,Central,511.200000,Four-Door Car
23,2450.191000,Bachelor,NaN,50510.548684,73.0,3.0,Corporate Auto,Central,554.376763,Four-Door Car
24,2392.107900,Bachelor,NaN,17870.000000,61.0,0.0,Corporate Auto,West,439.200000,Four-Door Car
25,5802.066000,College,NaN,97541.000000,72.0,0.0,Personal Auto,Northwest,389.185006,Four-Door Car
26,3946.372100,Bachelor,NaN,50510.548684,111.0,0.0,Personal Auto,West,799.200000,Four-Door Car
27,9162.063200,College,M,29723.000000,80.0,0.0,Personal Auto,East,20.985105,Four-Door Car
28,12902.560100,College,NaN,86584.000000,111.0,2.0,Personal Auto,Central,532.800000,Four-Door Car
29,3235.360500,Master,NaN,75690.000000,80.0,1.0,Personal Auto,Northwest,384.000000,Four-Door Car
30,2454.583500,College,NaN,23158.000000,63.0,1.0,Personal Auto,Central,322.294043,Four-Door Car
31,18975.456100,High School or Below,NaN,65999.000000,237.0,0.0,Corporate Auto,Central,615.927769,Luxury Vehicle
32,4715.321300,Bachelor,NaN,50510.548684,65.0,0.0,Personal Auto,West,308.150890,Four-Door Car
33,4737.871700,College,F,50510.548684,130.0,0.0,Personal Auto,East,23.820158,SUV
34,4932.916300,Bachelor,NaN,37260.000000,62.0,0.0,Corporate Auto,Northwest,15.437681,Four-Door Car
35,5744.229700,High School or Below,NaN,68987.000000,71.0,0.0,Personal Auto,Central,204.475147,Four-Door Car
36,13891.735700,Bachelor,NaN,42305.000000,117.0,0.0,Personal Auto,West,561.600000,Four-Door Car
37,7380.976700,Master,NaN,65706.000000,91.0,0.0,Personal Auto,Northwest,436.800000,Four-Door Car
38,3090.034100,Bachelor,NaN,50510.548684,90.0,0.0,Personal Auto,Northwest,648.000000,Two-Door Car
39,2521.633100,High School or Below,NaN,53243.000000,66.0,2.0,Personal Auto,Central,157.397849,Four-Door Car
40,2652.061800,High School or Below,NaN,50510.548684,70.0,1.0,Corporate Auto,Central,484.318536,Two-Door Car
41,2771.045000,College,NaN,50071.000000,71.0,0.0,Corporate Auto,Northwest,18.918935,Two-Door Car
42,3939.006400,Bachelor,NaN,60021.000000,99.0,0.0,Personal Auto,West,882.871945,Four-Door Car
43,12231.879700,High School or Below,NaN,43244.000000,103.0,0.0,Personal Auto,Central,494.400000,Sports Car
44,4951.656100,Doctor,M,46896.000000,35354.0,1.0,Personal Auto,East,31.707317,Four-Door Car
45,12819.102900,Doctor,NaN,10105.000000,172.0,3.0,Personal Auto,Northwest,0.517753,SUV
46,4468.510500,Bachelor,NaN,50510.548684,73.0,3.0,Personal Auto,Central,579.165954,Four-Door Car
47,5514.344000,High School or Below,NaN,23218.000000,71.0,0.0,Personal Auto,Northwest,447.793440,Two-Door Car
48,3343.875300,Bachelor,NaN,50510.548684,92.0,0.0,Corporate Auto,West,529.624084,Four-Door Car
49,2294.478900,High School or Below,NaN,50510.548684,62.0,0.0,Personal Auto,Central,313.023175,Four-Door Car
50,36707.426400,College,NaN,24804.000000,104.0,0.0,Personal Auto,Northwest,593.830288,SUV
51,33473.349500,Bachelor,NaN,33190.000000,106.0,0.0,Corporate Auto,West,508.800000,SUV
52,7983.431700,High School or Below,NaN,36014.000000,69.0,3.0,Special Auto,Central,173.956072,Four-Door Car
53,4879.384800,Master,F,67163.000000,61.0,2.0,Personal Auto,East,33.192803,Two-Door Car
54,4293.997300,Bachelor,NaN,16701.000000,113.0,0.0,Personal Auto,West,831.625979,Four-Door Car
55,7164.395500,College,NaN,46623.000000,91.0,0.0,Corporate Auto,Central,436.800000,Four-Door Car
56,7619.515800,College,NaN,64749.000000,64.0,0.0,Special Auto,West,302.565190,Four-Door Car
57,3958.002800,High School or Below,NaN,50510.548684,101.0,0.0,Personal Auto,Central,484.800000,SUV
58,4499.493300,High School or Below,NaN,16969.000000,124.0,2.0,Personal Auto,Northwest,704.768111,SUV
59,4059.567400,Master,NaN,11621.000000,108.0,0.0,Personal Auto,Northwest,518.400000,Four-Door Car
60,4458.113400,Bachelor,NaN,17622.000000,65.0,1.0,Personal Auto,Central,312.000000,Four-Door Car
61,8110.333100,Bachelor,NaN,11489.000000,105.0,0.0,Personal Auto,West,504.000000,Two-Door Car
62,3339.764900,Bachelor,NaN,50510.548684,94.0,0.0,Personal Auto,Northwest,863.327324,Two-Door Car
63,24261.017800,High School or Below,NaN,66525.000000,100.0,0.0,Personal Auto,West,104.331355,SUV
64,6613.973700,Bachelor,NaN,50510.548684,63.0,0.0,Personal Auto,Central,676.391482,Four-Door Car
65,2930.693500,College,NaN,33663.000000,73.0,0.0,Personal Auto,East,350.400000,Four-Door Car
66,8672.194300,College,NaN,22547.000000,112.0,0.0,Corporate Auto,Northwest,537.600000,SUV
67,11638.669300,High School or Below,NaN,61486.000000,97.0,0.0,Personal Auto,Central,465.258644,Two-Door Car
68,6846.150300,Bachelor,NaN,50510.548684,95.0,0.0,Personal Auto,Northwest,456.000000,Two-Door Car
69,11727.776500,College,NaN,29879.000000,102.0,0.0,Personal Auto,West,500.254235,Four-Door Car
70,22643.834800,High School or Below,NaN,93011.000000,113.0,0.0,Personal Auto,Northwest,281.451042,SUV
71,2614.474300,Master,NaN,65186.000000,65.0,0.0,Personal Auto,Northwest,5.434505,Two-Door Car
72,2451.752700,Master,NaN,26840.000000,64.0,2.0,Personal Auto,Northwest,307.200000,Four-Door Car
73,6781.270200,Bachelor,NaN,50510.548684,104.0,1.0,Personal Auto,Northwest,982.399613,Sports Car
74,4974.801500,Bachelor,NaN,75644.000000,65.0,3.0,Personal Auto,Northwest,467.803638,Two-Door Car
75,8591.604900,Bachelor,NaN,38984.000000,73.0,0.0,Personal Auto,Northwest,350.400000,Four-Door Car
76,5592.161400,High School or Below,NaN,71811.000000,71.0,0.0,Personal Auto,Northwest,29.034160,Four-Door Car
77,8009.472800,College,NaN,20961.000000,67.0,0.0,Personal Auto,Central,321.600000,Four-Door Car
78,1820.715176,Master,F,41275.000000,96.0,0.0,Personal Auto,East,41.122303,Four-Door Car
79,58166.553500,Bachelor,NaN,61321.000000,186.0,1.0,Personal Auto,West,427.631210,Luxury Vehicle
80,8025.229400,College,NaN,50510.548684,77.0,0.0,Personal Auto,West,25.807685,Two-Door Car
81,5780.182200,High School or Below,NaN,51066.000000,74.0,0.0,Personal Auto,West,787.993313,Four-Door Car
82,4118.539100,Doctor,NaN,34378.000000,102.0,0.0,Personal Auto,West,489.600000,SUV
83,2523.070200,Master,NaN,43072.000000,63.0,0.0,Personal Auto,Central,302.400000,Four-Door Car
84,6554.216400,College,NaN,25222.000000,90.0,0.0,Personal Auto,Northwest,475.623251,Four-Door Car
85,5382.752000,Bachelor,F,77552.000000,68.0,1.0,Corporate Auto,East,45.215059,Four-Door Car
86,5926.729400,College,NaN,23091.000000,96.0,5.0,Personal Auto,West,460.800000,Four-Door Car
87,2683.470700,Bachelor,NaN,48269.000000,69.0,3.0,Corporate Auto,West,282.151207,Four-Door Car
88,2695.182400,Bachelor,NaN,32720.000000,67.0,0.0,Personal Auto,Northwest,321.600000,Four-Door Car
89,6047.025200,College,NaN,20396.000000,76.0,1.0,Personal Auto,West,364.800000,Four-Door Car
90,13171.012800,College,NaN,21513.000000,119.0,1.0,Personal Auto,Northwest,679.827592,Two-Door Car
91,15950.019500,College,F,50510.548684,87.0,1.0,Personal Auto,East,46.041452,Two-Door Car
92,2527.653800,Bachelor,NaN,80744.000000,63.0,0.0,Corporate Auto,Northwest,11.879037,Four-Door Car
93,2672.095800,Bachelor,NaN,52822.000000,67.0,0.0,Corporate Auto,Northwest,350.529033,Two-Door Car
94,5313.294000,High School or Below,NaN,50510.548684,77.0,1.0,Personal Auto,West,863.394700,Four-Door Car
95,20946.192500,Bachelor,NaN,69738.000000,74.0,1.0,Personal Auto,Northwest,492.127532,Four-Door Car
96,8375.353900,Master,NaN,17780.000000,109.0,0.0,Personal Auto,Central,132.588288,SUV
97,4801.661500,Bachelor,NaN,18107.000000,62.0,0.0,Personal Auto,West,297.600000,Four-Door Car
98,5745.943300,Bachelor,NaN,57740.000000,74.0,3.0,Personal Auto,Central,269.905129,Four-Door Car
99,6066.116000,College,NaN,32627.000000,76.0,0.0,Personal Auto,Northwest,380.036697,Two-Door Car

In [ ]:

from scipy.stats import zscore

In [ ]:


z = np.abs(zscore(df['monthly premium auto']))
df = df[(z < 3)]

In [ ]:
y = np.abs(zscore(df['total claim amount']))
df = df[(y < 3)]

In [ ]:
x = np.abs(zscore(df['income']))
df = df[(x < 3)]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8956 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    8956 non-null   float64
 1   education                  8955 non-null   object
 2   gender                     8956 non-null   object
 3   income                     8956 non-null   float64
 4   monthly premium auto       8956 non-null   float64
 5   number of open complaints  8955 non-null   float64
 6   policy type                8955 non-null   object
 7   region                     8955 non-null   object
 8   total claim amount         8956 non-null   float64
 9   vehicle class              8955 non-null   object
dtypes: float64(5), object(5)
memory usage: 769.7+ KB

In [ ]:
#######creating a dataframe for the numeric data using slect_dtypes function


numeric_cols = df.select_dtypes(include=[np.number]).columns
numeric_cols

Index(['customer lifetime value', 'income', 'monthly premium auto',
       'number of open complaints', 'total claim amount'],
      dtype='object')

In [ ]:
numeric_df = df[numeric_cols]
numeric_df.head()

,customer lifetime value,income,monthly premium auto,number of open complaints,total claim amount
0,1820.715176,50510.548684,1000.0,0.0,2.704934
1,6979.535900,50510.548684,94.0,0.0,1131.464935
2,12887.431700,48767.000000,108.0,0.0,566.472247
3,7645.861800,50510.548684,106.0,0.0,529.881344
4,5363.076500,36357.000000,68.0,0.0,17.269323

In [ ]:
#######creating a dataframe for the categorial data using slect_dtypes function



categoric_columns = df.select_dtypes(include='object').columns
categoric_columns

Index(['education', 'gender', 'policy type', 'region', 'vehicle class'], dtype='object')

In [ ]:
categoric_df = df[categoric_columns]
categoric_df.head(10)

              education gender     policy type     region  vehicle class
0                Master    NaN   Personal Auto       East  Four-Door Car
1              Bachelor      F   Personal Auto    Central  Four-Door Car
2              Bachelor      F   Personal Auto    Central   Two-Door Car
3              Bachelor      M  Corporate Auto       West            SUV
4  High School or Below      M   Personal Auto       East  Four-Door Car
5              Bachelor      F   Personal Auto  Northwest   Two-Door Car
6               College      F  Corporate Auto  Northwest  Four-Door Car
7                Master      M  Corporate Auto    Central  Four-Door Car
8              Bachelor      M  Corporate Auto  Northwest  Four-Door Car
9               College      F    Special Auto  Northwest  Four-Door Car

In [ ]:
df['number of open complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [ ]:
#standardizing the text to lower case

df['education'] = df['education'].str.lower()
df['gender'] = df['gender'].str.lower()
df['policy type'] = df['policy type'].str.lower()
df['region'] = df['region'].str.lower()
df['vehicle class'] = df['vehicle class'].str.lower()

In [ ]:
#df.head(100)